
.footer_div{
    background-color: #212529;
    min-height: 300px;
    color: antiquewhite;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 10% 80% 10%;
    margin-top: 50px;
  }
  
  .footer_left_margin , .footer_right_margin{
    min-width: 10%;
  }
  .pages_element{
    cursor: pointer;
    
  }
  .pages_element:hover{
    text-decoration: underline;
   
  }
  .socileIcons > img {
    width: 50px;
    height:  50px;
  }
  .footer_p{
    
  }